<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <div class="login-container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div class="left-section" style="flex: 1;">
            <img src="{{ url_for('static', filename='befisc_side.png') }}" alt="Image" style="max-width: 100%; height: auto;">
        </div>
        <div class="right-section" style="flex: 1; padding: 20px; background-color: #f0f0f0;">
            <h2 style="color: #333;">Hello USERS</h2>
            </form>
        </div>
    </div>
</body>
</html>
