<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
</head>
<body>    
    <div class="login-container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div class="left-section" style="flex: 1;">
            <img src="{{ url_for('static', filename='befisc_side.png') }}" alt="Image" style="max-width: 95%; height: auto;">
        </div>
        <div class="right-section" style="flex: 1; padding: 20px; background-color: #f0f0f0;">
            <h1 style="color: #333;">Befisc</h1>
            <h2 style="color: #333;">Log In to Access Secret Data</h2>
            <div class="error-message" style="color: red; margin-bottom: 20px;">
                {% if error %}
                    {{ error }}
                {% endif %}
            </div>
            <p>Welcome! Enter your account to get all the information of your existing and target users.</p>
            <form method="POST" action="{{ url_for('login') }}" style="margin-top: 50px;">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required style="width: 90%; padding: 10px; margin-bottom: 20px;">

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required style="width: 90%; padding: 10px; margin-bottom: 20px;">

                <label for="account_version">Account Version</label>
                <select id="account_version" name="account_version" style="width: 90%; padding: 10px; margin-bottom: 20px;">
                    <option value="production">Production</option>
                    <option value="staging">Staging</option>
                </select>

                <button type="submit" style="width: 90%; padding: 10px; background-color: #007bff; color: #fff; border: none; cursor: pointer;">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
